<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="assets/img.png">
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Sign-In
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type ="text" placeholder="Enter Email" name="email" id="" [(ngModel)]="email" required email /> <br>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input type ="password" placeholder="Enter Password" name="pwd" id="" [(ngModel)]="pwd" />
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="Login()">
							Sign-In 
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
<router-outlet></router-outlet>