<table class="tbl">
        <thead>
                <tr>
                    <th>PaymentId</th>
                    <th>Student_Id</th>
                    <th>Student_Name</th>
                    <th>MentorName</th>
                    <th>MentorId</th>
                    <th>Amount</th>
                    <th>AmountMentor</th>  
                </tr>
            </thead>
        <tbody *ngFor="let item of list">
          <tr>
            <td>
              {{item.paymentId}}
            </td>
            <td>
                    {{item.student_Id}}
                  </td>
                  <td>
                        {{item.student_Name}}
                      </td>
            <td>
                {{item.mentorName}}
              </td>
              <td>
                {{item.mentorId}}
              </td>
              <td>
                  {{item.amount}}
                </td>
                <td>
                        {{item.amountMentor}}
                      </td>
            </tr>
        </tbody>
      </table>